
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url("img.jpg");
    background-size: cover;
    text-align: center;
    color:white;
    font-weight:bold;
}

h1 {
    color: goldenrod;
}

#message-el {
    font-style:italic;
}
#btn {
    color: #016f32;
    width: 150px;
    height: 30px;
    background: goldenrod;
    text-align: center;
    border: none;
    font-weight: bolder;
    border-radius: 3px;
    margin-bottom:6px;
}
